@import '../../index.scss';

.block {
    border: 1px solid $BORDER_COLOR;
    border-radius: $BORDER_RADIUS;
    background-color: $BACKGROUND;

    .blockInfo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 32px;
        padding: 0 32px;

        .blockName {
            h3 {
                color: $BASE_DARK_COLOR;
                font-size: 19px;
                line-height: 24px;
                letter-spacing: 0.4px;
            }

            p {
                margin-top: 8px;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.1px;
                color: $GRAY;

                span {
                    font-weight: 500;
                    color: $BASE_DARK_COLOR;
                }
            }

        }

        .blockButton {
            text-align: right;

            fill: $ICON_SVG_FILL;

            span {
                margin-left: 9px;
                color: $GRAY_DARK;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
            }

            a {
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: $ACTIVE;
                text-decoration: none;
            }
        }
    }

    .blockContainer {
        width: 100%;
        margin-top: 36px;
        position: relative;
        min-height: 120px;
    }

}