.app {
    display: grid;
    grid-template-columns: 255px 1fr;
    height: 100vh;
    background-color: white;


    .page {
        display: grid;
        grid-template-rows: 45px 1fr;
        height: 100vh;
        padding: 30px 30px 0 30px;

        .currentPage {
            padding: 80px 0 230px 0;
            overflow-y: scroll;
        }

        @media (max-width: 768px) {
            .currentPage {
                padding: 80px 0 80px 0;
            }
        }

        @media (max-width: 568px) {
            padding: 10px 10px 0px 10px;

            .currentPage {
                padding: 30px 0 30px 0;
            }
        }
    }

    @media (max-width: 768px) {
        grid-template-columns: 0 1fr;
    }
}